{% extends "base.html" %}
{% load static %}

{% block title %} Main page {% endblock title %}


{% block content %}

<div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}"> Log out </a> |
    <a href="{% url 'accounts:userupdate' %}"> Edit profile </a>

    {% else %}
    <a href="{% url 'accounts:signup' %}"> Sign up </a> |
    <a href="{% url 'accounts:login' %}"> Login </a>
    {% endif %}
</div>

<h2>Categories</h2>
{% for ctg in categories %}
{{ ctg.name }}<br>
{% endfor %}
<hr>
<h3>Main news</h3>
{% for article in main_news%}
{{article.title}} | {{article.category}} | {{article.updated_at}}<br>
{% endfor %}
<hr>

{% endblock content %}